<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Teddy55's personal home page.">
    <meta name="og:title" property="og:title" content="Teddy55's Site.">
    <meta name="og:description" property="og:description" content="Teddy55's personal home page.">
    <meta content="https://www.teddy55.com" property="og:url" />
    <meta name="og:image" property="og:image" content="https://www.teddy55.com/resources/Teddy-profilePic.png">
    <meta name="og:image:alt" property="og:image:alt" content="Teddy55's Profile Picture">
    <meta content="#5902fc" data-react-helmet="true" name="theme-color" />
    <title>Teddy55's Site</title>
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="Teddy55BlazorWebSite.styles.css" />
    <HeadOutlet />
</head>

<body>
    <Routes />
    <script src="_framework/blazor.web.js"></script>
</body>

</html>
